<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Storage</title>
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/styles/styles.css">
    <!-- Tailwind CSS -->
    <link href="/styles/tailwind-built.css" rel="stylesheet">
</head>
<%- include('./modals/update-form.ejs') %>
<%- include('./modals/upload-file-form.ejs') %>
<body class="flex flex-col min-h-screen">
    <%- include('./partials/header.ejs') %>

    <div class="content flex-1 px-6 py-4 bg-gray-100">
        <div class="flex items-center">
            <% if (folder.parentId) { %>
                <a href="/library/<%= folder.parent.id %>" 
                   class="py-3 px-1 text-blue-600 hover:text-blue-800 font-medium flex items-center space-x-2">
                    <span class="text-base">← <%= folder.parent.name %></span>
                </a>
            <% } %>
        </div>
        <div class="flex justify-between items-center">
            <div class="flex">
                <h1 class="text-xl font-bold py-3"><%= folder.name %></h1>
            </div>
            
            <div class="flex gap-6 text-sm">
                <form action="/library/<%= folder.id %>/add-subfolder" method="POST">
                    <button type="submit" 
                            class="px-4 py-2 text-blue-600 border-blue-600 border-2">
                        + New Folder
                    </button>
                </form>
                <button data-modal-toggle="upload-modal" 
                        task="upload"
                        parent-name="<%= folder.name %>" 
                        class="px-4 py-2 text-blue-600 border-blue-600 border-2">
                    + Upload
                </button>
            </div>
            
        </div>
        
        <table class="w-full rounded-lg border border-gray-300 my-3 bg-white shadow-md">
            <thead class="bg-gray-200 text-black text-sm">
                <tr class="text-left border-b">
                    <th class="px-4 py-2 font-normal">Name</th>
                    <th class="px-4 py-2 font-normal">Type</th>
                    <th class="px-4 py-2 font-normal">Size</th>
                    <th class="px-4 py-2 font-normal">Created</th>
                    <th class="px-4 py-2 font-normal">Updated</th>
                    <th class="px-4 py-2 font-normal">Options</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 text-sm">
                <% if ((folder.subfolders.length === 0 || !folder.subfolders) && (folder.files.length === 0 || !folder.files)) { %>
                    <tr class="bg-gray-50">
                        <td colspan="6" class="text-center py-4 text-gray-500 text-base">
                            This folder is empty.
                        </td>
                    </tr>
                <% } else { %>
                    <% folder.subfolders.forEach(subfolder => { %>
                        <tr class="hover:bg-gray-50 cursor-pointer transition-colors"
                            onclick="window.location.href='/library/<%= subfolder.id %>'">
                            <td class="px-4 py-2 text-blue-600 hover:underline">
                                <%= subfolder.name %>
                            </td>
                            <td class="px-4 py-2">Folder</td>
                            <td class="px-4 py-2">-</td>
                            <td class="px-4 py-2"><%= subfolder.formattedCreatedAt %></td>
                            <td class="px-4 py-2"><%= subfolder.formattedUpdatedAt %></td>
                            <td class="px-4 py-2 relative">
                                <div class="relative inline-block text-left">
                                    <button type="button"
                                        class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                                        id="menu-button-<%= subfolder.id %>" aria-expanded="true" aria-haspopup="true">
                                        Options
                                        <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                                            aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </button>

                                    <div class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                                        role="menu" aria-orientation="vertical" aria-labelledby="menu-button-<%= subfolder.id %>"
                                        tabindex="-1">
                                        <div class="py-1" role="none">
                                            <button data-modal-toggle="edit-modal" task="edit" edit-type="folder"
                                                edit-target-id="<%= subfolder.id %>" current-name="<%= subfolder.name %>"
                                                class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                                role="menuitem" tabindex="-1" id="menu-item-<%= subfolder.id %>-edit">
                                                Edit
                                            </button>
                                            <form method="POST" action="/library/folder/<%= subfolder.id %>/delete"
                                                role="none">
                                                <button type="submit"
                                                    class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                                    role="menuitem" tabindex="-1"
                                                    id="menu-item-<%= subfolder.id %>-delete">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                    <% folder.files.forEach(file => { %>
                        <tr class="hover:bg-gray-50 transition-colors cursor-pointer"
                            onclick="window.location.href='/library/file/<%= file.id %>'">
                            <td class="px-4 py-2 text-blue-600 hover:underline">
                                <%= file.name %>
                            </td>
                            <td class="px-4 py-2">File</td>
                            <td class="px-4 py-2"><%= file.formattedSize %></td>
                            <td class="px-4 py-2"><%= file.formattedCreatedAt %></td>
                            <td class="px-4 py-2"><%= file.formattedUpdatedAt %></td>
                            <td class="px-4 py-2 relative">
                                <div class="relative inline-block text-left">
                                    <button type="button"
                                        class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
                                        id="menu-button-<%= file.id %>" aria-expanded="true" aria-haspopup="true">
                                        Options
                                        <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                                            aria-hidden="true">
                                            <path fill-rule="evenodd"
                                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </button>

                                    <div class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                                        role="menu" aria-orientation="vertical" aria-labelledby="menu-button-<%= file.id %>"
                                        tabindex="-1">
                                        <div class="py-1" role="none">
                                            <a href="/library/file/<%= file.id %>/download"
                                                class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                                role="menuitem" tabindex="-1" id="menu-item-<%= file.id %>-download">
                                                Download
                                            </a>
                                            <button data-modal-toggle="edit-modal" task="edit" edit-type="file"
                                                edit-target-id="<%= file.id %>" current-name="<%= file.name %>"
                                                class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                                role="menuitem" tabindex="-1" id="menu-item-<%= file.id %>-edit">
                                                Edit
                                            </button>
                                            <form method="POST" action="/library/file/<%= file.id %>/delete" role="none">
                                                <button type="submit"
                                                    class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                                    role="menuitem" tabindex="-1"
                                                    id="menu-item-<%= file.id %>-delete">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                <% }; %>
            </tbody>
        </table>
    </div>
    <%- include('partials/footer.ejs') %>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Dropdown toggle logic
            document.querySelectorAll('[id^="menu-button"]').forEach(button => {
                button.addEventListener('click', function(event) {
                    // Prevent this click event from closing the dropdown itself
                    event.stopPropagation();

                    // Close all other open dropdowns
                    document.querySelectorAll('[id^="menu-button"]').forEach(btn => {
                        const menu = btn.nextElementSibling;
                        if (menu && !menu.classList.contains('hidden') && menu !== button.nextElementSibling) {
                            menu.classList.add('hidden');
                        }
                    });

                    // Toggle the clicked dropdown
                    const menu = button.nextElementSibling;
                    if (menu) {
                        menu.classList.toggle('hidden');
                    }
                });
            });

            // Stop the dropdown menuitems click event from propagating to parent elements
            document.querySelectorAll('[role="menuitem"]').forEach(item => {
                item.addEventListener('click', function(event) {
                    event.stopPropagation();
                    // Close the parent dropdown
                    const menu = item.closest('[role="menu"]');
                    if (menu) {
                        menu.classList.add('hidden');
                    }
                });
            });

            // Close dropdowns on clicking outside
            document.addEventListener('click', function(event) {
                document.querySelectorAll('[id^="menu-button"]').forEach(button => {
                    const menu = button.nextElementSibling;
                    if (menu && !menu.classList.contains('hidden') && !button.contains(event.target)) {
                        menu.classList.add('hidden');
                    }
                });
            });

            // Handle modal toggles
            const toggleButtons = document.querySelectorAll('[data-modal-toggle]');
            toggleButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const modalId = button.getAttribute('data-modal-toggle');
                    const modalTask = button.getAttribute('task');
                    const modal = document.getElementById(modalId);

                    if (modalTask === 'edit') {
                        const editType = button.getAttribute('edit-type');
                        const editId = button.getAttribute('edit-target-id');
                        const currentName = button.getAttribute('current-name');

                        const form = modal.querySelector('form');
                        const name = modal.querySelector('input[type="text"]');
                        form.action = `/library/${editType}/${editId}/rename`;
                        name.value = currentName;
                    }
                    if (modalTask === 'upload') {
                        const parent = button.getAttribute('parent-name');
                        const parentElement = modal.querySelector('#upload-parent');
                        parentElement.textContent = parent;
                    }

                    modal.showModal();
                });
            });

            // Handle modal close
            document.querySelectorAll('[data-modal-close]').forEach(button => {
                button.addEventListener('click', () => {
                    const modalId = button.getAttribute('data-modal-close');
                    const modal = document.getElementById(modalId);
                    modal.close();
                });
            });
        });

    </script>
</body>
</html>