<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Storage</title>
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/styles/styles.css">
    <!-- Tailwind CSS -->
    <link href="/styles/tailwind-built.css" rel="stylesheet">
</head>
<%- include('./modals/update-form.ejs') %>
<%- include('./modals/upload-file-form.ejs') %>
<body class="flex flex-col min-h-screen">
    <%- include('./partials/header.ejs') %>

    <div class="content flex-1 p-3 bg-gray-100">
        <div class="flex h-[20px] items-center">
            <% if (folder.parentId) { %>
                <a href="/library/<%= folder.parent.id %>" class="back-link">← <%= folder.parent.name %></a>
            <% }; %>
        </div>
        <div class="flex justify-between items-center">
            <div class="flex">
                <h1 class="text-xl font-bold py-3"><%= folder.name %></h1>
            </div>
            
            <div class="flex gap-6 text-sm">
                <form action="/library/<%= folder.id %>/add-subfolder" method="POST">
                    <button type="submit" 
                            class="px-4 py-2 text-blue-600 border-blue-600 border-2">
                        + New Folder
                    </button>
                </form>
                <button data-modal-toggle="upload-modal" 
                        task="upload"
                        parent-name="<%= folder.name %>" 
                        class="px-4 py-2 text-blue-600 border-blue-600 border-2">
                    + Upload
                </button>
            </div>
            
        </div>
        
        <table class="w-full rounded-lg border border-gray-300 my-3 bg-white shadow-md">
            <thead class="bg-gray-200 text-gray-700">
                <tr class="text-left border-b">
                    <th class="px-4 py-2">Name</th>
                    <th class="px-4 py-2">Type</th>
                    <th class="px-4 py-2">Size</th>
                    <th class="px-4 py-2">Created At</th>
                    <th class="px-4 py-2">Updated At</th>
                    <th class="px-4 py-2">Options</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                <% folder.subfolders.forEach(subfolder => { %>
                    <tr class="hover:bg-gray-50 transition-colors">
                        <td class="px-4 py-2">
                            <a href="/library/<%= subfolder.id %>" class="text-blue-600 hover:underline"><%= subfolder.name %></a>
                        </td>
                        <td class="px-4 py-2">Folder</td>
                        <td class="px-4 py-2">-</td>
                        <td class="px-4 py-2"><%= subfolder.createdAt.toDateString() %></td>
                        <td class="px-4 py-2"><%= subfolder.updatedAt.toDateString() %></td>
                        <td class="px-4 py-2">
                            <div class="flex gap-2 items-center">
                                <button data-modal-toggle="edit-modal" 
                                        task="edit"
                                        edit-type="folder" 
                                        edit-target-id="<%= subfolder.id %>" 
                                        current-name="<%= subfolder.name %>" 
                                        class="text-sm text-gray-600 hover:text-gray-900">
                                    Edit
                                </button>
                                <form method="POST" action="/library/folder/<%= subfolder.id %>/delete">
                                    <button type="submit" class="text-sm text-red-600 hover:text-red-800">
                                        Delete
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                <% }) %>
                <% folder.files.forEach(file => { %>
                    <tr class="hover:bg-gray-50 transition-colors">
                        <td class="px-4 py-2">
                            <a href="/library/file/<%= file.id %>" class="text-blue-600 hover:underline"><%= file.name %></a>
                        </td>
                        <td class="px-4 py-2">File</td>
                        <td class="px-4 py-2"><%= file.size %> bytes</td>
                        <td class="px-4 py-2"><%= file.createdAt.toDateString() %></td>
                        <td class="px-4 py-2"><%= file.updatedAt.toDateString() %></td>
                        <td class="px-4 py-2">
                            <div class="flex gap-2 items-center">
                                <a href="/library/file/<%=file.id%>/download" class="text-sm text-blue-600 hover:text-blue-800">
                                    Download
                                </a>
                                <button data-modal-toggle="edit-modal" 
                                        task="edit"
                                        edit-type="file" 
                                        edit-target-id="<%= file.id %>"  
                                        current-name="<%= file.name %>" 
                                        class="text-sm text-gray-600 hover:text-gray-900">
                                    Edit
                                </button>
                                <form method="POST" action="/library/file/<%= file.id %>/delete">
                                    <button type="submit" class="text-sm text-red-600 hover:text-red-800">
                                        Delete
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const toggleButtons = document.querySelectorAll('[data-modal-toggle]');

            toggleButtons.forEach(button => {
                button.onclick = () => {
                    const modalId = button.getAttribute('data-modal-toggle');
                    const modalTask = button.getAttribute('task');

                    const modal = document.getElementById(modalId);

                    // Update modal respectively
                    if (modalTask == 'edit') {
                        const editType = button.getAttribute('edit-type');
                        const editId = button.getAttribute('edit-target-id');
                        const currentName = button.getAttribute('current-name');

                        const form = modal.querySelector('form');
                        const name = modal.querySelector('input[type="text"]');
                        // Update the form action with the correct ID
                        form.action = `/library/${editType}/${editId}/rename`;
                        name.value = currentName;
                    }
                    if (modalTask == 'upload') {
                        const parent = button.getAttribute('parent-name');
                        const parentElement = modal.querySelector('#upload-parent');
                        parentElement.textContent = parent;
                    }
                    
                    modal.showModal();
                };
            });

            const closeButtons = document.querySelectorAll('[data-modal-close]');

            closeButtons.forEach(button => {
                button.onclick = () => {
                    const modalId = button.getAttribute('data-modal-close');
                    const modal = document.getElementById(modalId);
                    modal.close();
                };
            });
        });


    </script>
</body>
</html>