<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Storage</title>
    <!-- Custom Styles -->
    <link rel="stylesheet" href="/styles/styles.css">
    <!-- Tailwind CSS -->
    <link href="/styles/tailwind-built.css" rel="stylesheet">
</head>
<%- include('./modals/update-form.ejs') %>
<body class="flex flex-col min-h-screen">
    <%- include('./partials/header.ejs') %>

    <div class="content flex-1 p-3">
        <h1>Contents of <%= folder.name %></h1>
        <div class="top-bar flex justify-between">
            <div class="navigation flex">
                <a href="/library" class="back-link">← Back to Root</a>
                <% if (folder.parent) { %>
                    <a href="/library/<%= folder.parent.id %>" class="back-link">← Back to <%= folder.parent.name %></a>
                <% }; %>
            </div>
            <div class="flex gap-6">
                <form action="/library/<%= folder.id %>/add-subfolder" method="POST">
                    <button type="submit">New Folder</button>
                </form>
                <form action="/library/<%= folder.id %>/upload" method="POST" enctype="multipart/form-data">
                    <input type="file" name="uploaded_file" required/>
                    <button type="submit">Upload File</button>
                </form>
            </div>
            
        </div>
        
        <table class="w-full border border-blue-500 my-3">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Size</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <% folder.subfolders.forEach(subfolder => { %>
                    <tr class="folder">
                        <td><a href="/library/<%= subfolder.id %>"><%= subfolder.name %></a></td>
                        <td>Folder</td>
                        <td>-</td>
                        <td><%= subfolder.createdAt.toDateString() %></td>
                        <td><%= subfolder.updatedAt.toDateString() %></td>
                        <td>
                            <button data-modal-toggle="edit-modal" 
                                    edit-type="folder" 
                                    edit-target-id="<%= subfolder.id %>"  
                                    class="block px-4 py-2 text-sm text-gray-700">
                                Edit
                            </a>
                            <form method="POST" action="/library/folder/<%= subfolder.id %>/delete">
                                <button type="submit" class="block w-full px-4 py-2 text-left text-sm text-gray-700">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
                <% folder.files.forEach(file => { %>
                    <tr class="file">
                        <td><a href="/library/file/<%= file.id %>"><%= file.name %></a></td>
                        <td>File</td>
                        <td><%= file.size %> bytes</td>
                        <td><%= file.createdAt.toDateString() %></td>
                        <td><%= file.updatedAt.toDateString() %></td>
                        <td>
                            <button data-modal-toggle="edit-modal" 
                                    edit-type="file" 
                                    edit-target-id="<%= file.id %>"  
                                    class="block px-4 py-2 text-sm text-gray-700">
                                Edit
                        </a>
                            <form method="POST" action="/library/file/<%= file.id %>/delete">
                                <button type="submit" class="block w-full px-4 py-2 text-left text-sm text-gray-700">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const toggleButtons = document.querySelectorAll('[data-modal-toggle]');

            toggleButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const modalId = button.getAttribute('data-modal-toggle');
                    const editType = button.getAttribute('edit-type')
                    const editId = button.getAttribute('edit-target-id')

                    const modal = document.getElementById(modalId);
                    const form = modal.querySelector('form');
                    // Update the form action with the correct ID
                    form.action = `/library/${editType}/${editId}/rename`;
                
                    modal.showModal();
                });
            });

            const closeButtons = document.querySelectorAll('[data-modal-close]');

            closeButtons.forEach(button => {
                button.addEventListener('click', () => {
                    const modalId = button.getAttribute('data-modal-close');
                    const modal = document.getElementById(modalId);
                    modal.close();
                });
            });
        });


    </script>
</body>
</html>